<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js-jquery/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

//        $(function () {
//            var data = {'rresult':'22222'};
//            $.ajax({
//                url:'/testAjax.do',
//                type:'post',
//                data:data,
//                dataType:'json',
//                success:function (data) {
//                    alert(data.rresult)
//
//                }
//            });
//        })

    </script>
</head>
<body>
<a href="AccountAction_toRegister.do">注册</a>
<a href="PersonnelAction_addPersonInfo.do">完善个人信息</a>
</body>
</html>