<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="" method="post" id="registertable">
    <table border="0" align="center">
        <tr>
            <td>邮箱：</td>
            <td><input name="email"></td>
            <td><button>发送验证码</button></td>
        </tr>
        <tr>
            <td>验证码：</td>
            <td><input name="checkNum"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input name="password" type="password"></td>
        </tr>
        <tr>
            <td>确认密码：</td>
            <td><input name="con_Password" type="password"></td>
        </tr>
        <tr>
            <td>姓名：</td>
            <td><input name="name"></td>
        </tr>
        <tr>
            <td>身份证号：</td>
            <td><input name="id_number"></td>
        </tr>
        <tr>
            <td>性别：</td>
            <td>
                <select name="sex">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>出生日期：</td>
            <td><input name="bath" type="date"></td>
        </tr>
        <tr>
            <td>组织：</td>
            <td>
                <select name="cmp_id" class="organize">
                    <option value="1">组织1</option>
                    <option value="2">组织2</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>部门：</td>
            <td>
                <select name="depart_id">
                    <option value="1">部门1</option>
                    <option value="2">部门2</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>岗位：</td>
            <td>
                <select name="post_id">
                    <option value="1">岗位1</option>
                    <option value="2">岗位2</option>
                </select>
            </td>
        </tr>
        <tr align="center">
            <td colspan="2"><input type="submit" value="提交注册"></td>
        </tr>
    </table>
</form>
</body>
</html>